@import '../app.component.css';

.card-container {
    float: left;
    margin: 2rem 0;
}
.card-container .card {
    padding: 1.5rem;
    width: 250px;
    height: 200px;
    position: relative;
    margin: 1rem 0;
    border: 1px solid #aaa;
    background: linear-gradient(#ccc, #fff); /* Standard syntax */
}
.card-container .card .author-name {
    display: block;
    text-align: left;
    color: #00f;
    height: 16px;
    overflow: hidden;

}
.card-container .card .author-name .name {
    width: 46%;
    overflow: hidden;
}

.card-container .card .author-name .email {
    width: 46%;
    overflow: hidden;
    text-align: right;
}

.card-container .card .body-content {
    overflow: hidden;
    height: 50%;
}
.card-container .card .upvote-button {
    display: block;
    position: absolute;
    bottom: 1rem;
}