<app-breadcrumbs></app-breadcrumbs>

<div class="row margin-top-5">
    <div class="btn-group pull-right col-xs-12">
        <label class="btn btn-primary" (click)="changeView()" uib-btn-checkbox [ngClass]="{'active': showTabularView}">Table View</label>
        <label class="btn btn-primary" (click)="changeView()" uib-btn-checkbox [ngClass]="{'active': !showTabularView}">List View</label>
    </div>
</div>


<div class="row margin-top-5" *ngIf="!showTabularView" >
    <div *ngFor="let post of posts; let i = index" class="card-container col-xs-3">
        <div class="card">
            <a [routerLink]="['details', post.id]">{{i}}</a>
            <div class="body-content">
                {{post.body}}  
            </div>
            by
            <div class="author-name clearfix">
                <div class="name pull-left">
                    {{post.name}} ,
                </div>
                <div class="email pull-right">
                    {{post.email}}
                </div>
            </div>
            <button class="btn btn-primary upvote-button" (click)="upvotedNews()">Upvote</button>
        </div>
    </div>
</div>

<div class="row margin-top-5" *ngIf="showTabularView">
    <div class="col-sm-12">
        <app-grid-view></app-grid-view>
    </div>
</div>