
.back-button {
    color: black;
    text-decoration: none;
    font-size: 0.9rem;
}
.back-icon {
    width: 1rem;
}
.breadcrumb-item {
    font-size: 0.9rem;
}
.breadcrumb-item.active {
    text-decoration: none;
    cursor: default;
}