@import '../app.component.css';

/* Form Field */
.form-field {
    padding: 10px 20px;
}
.label-error {
    color: red;
}
.error-field {
    color: red;
    border: 1px solid red;
    box-shadow: 0px 0px 10px 1px red;
}
.form-error {
    color: red;
}
/* Checkbox */
.checkbox-option {
    display: block;
}
/* Radio Button */
.radio-option {
    display: block;
}
/* Dropdown/Select */
.select-options {
    width: 100%;
}
.dropdown-button {
    width: 100%;
}
/* Datepicker */
.calendar-icon {
    width: 24px;
    height: 24px;
}