<kendo-grid [data]="gridData" [height]="410">
    <kendo-grid-column field="id" title="ID" width="50"> </kendo-grid-column>
    <kendo-grid-column field="name" title="Name" > </kendo-grid-column>
    <kendo-grid-column field="username" title="Category"> </kendo-grid-column>
    <kendo-grid-column field="email" title="Email" width="200" > </kendo-grid-column>
    <kendo-grid-column field="address.city" title="City" width="150" > </kendo-grid-column>
    <kendo-grid-column field="phone" title="Contact" > </kendo-grid-column>
    <kendo-grid-column field="company.name" title="Organization" width="150"> </kendo-grid-column>
    <kendo-grid-column field="company.bs" title="Business" width="250" > </kendo-grid-column>
    <!-- <kendo-grid-column field="Discontinued" title="Discontinued" >     <ng-template kendoGridCellTemplate let-dataItem>
            <input type="checkbox" [checked]="dataItem.Discontinued" [changed]="" />
        </ng-template>
    </kendo-grid-column> -->
</kendo-grid>