<div class="example-config">                
    <label class="k-form-field">
        <input class="k-checkbox" type="checkbox" id="allowUnsort"
          [(ngModel)]="allowUnsort" />
        <label class="k-checkbox-label" for="allowUnsort">
            {{ allowUnsort ? 'Disable': 'Enable' }} unsorting
        </label>
    </label><br/>
    <label class="k-form-field">
        <input class="k-checkbox" type="checkbox" id="multiple"              
          [(ngModel)]="multiple"
          />
        <label class="k-checkbox-label" for="multiple">
            {{ multiple ? 'Disable': 'Enable' }} multiple columns sorting
        </label>
    </label>
</div>
<kendo-grid 
    [data]="gridData" 
    [height]="410"
    [pageSize]="10"
    [skip]="skip"
    [pageable]="true"
    [scrollable]="'none'"
    [filterable]="menu"
    [filter]="state.filter"
    [sortable]="{
        allowUnsort: true,
        mode: true ? 'multiple' : 'single'
        }"
    [sort]="sort"
    (sortChange)="sortChange($event)"
    (dataStateChange)="dataStateChange($event)"
    >
    <!-- (pageChange)="pageChange($event)" -->
    <kendo-grid-column field="id" title="ID" width="50" [filterable]="false"> </kendo-grid-column>
    <kendo-grid-column field="name" title="Name" > </kendo-grid-column>
    <kendo-grid-column field="username" title="Category"> </kendo-grid-column>
    <kendo-grid-column field="email" title="Email" width="100" > </kendo-grid-column>
    <kendo-grid-column field="address.city" title="City" width="150" > </kendo-grid-column>
    <kendo-grid-column field="phone" title="Contact" > </kendo-grid-column>
    <kendo-grid-column field="company.name" title="Organization" width="150"> </kendo-grid-column>
    <kendo-grid-column field="company.bs" title="Business function" width="250" > </kendo-grid-column>
    <kendo-grid-column title="Action" width="170" class="action-container">     
        <ng-template kendoGridCellTemplate> 
            <span class="edit" (click)="editRecord(dataItem)"> edit</span>   
            <span class="delete" (click)="deleteRecord(dataItem)"> delete</span>   
        </ng-template>
    </kendo-grid-column>
</kendo-grid>